body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f8f8f8;
  color: #000;
}

main {
  padding: 1rem;
}

.intro {
  text-align: center;
  padding: 2rem 0;
}

.gallery-section {
  padding: 2rem 0;
}

.gallery-section h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.gallery {
  max-width: 1000px;       
  margin: 0 auto;          
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 0 0.5rem;       
}


.photo-card {
  display: inline-block;     
  padding: 0;
  margin: 0;
  box-sizing: border-box;     
  overflow: hidden;         
  transition: transform 0.3s;
}

.photo-card img {
  display: block;
  width: auto;         
  max-width: 100%;          
  height: auto;
  margin: 0;
  padding: 0;
}

.photo-card:hover {
  transform: scale(1.05);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: blue;
  padding: 1rem;
  text-align: center;
  z-index: 1000;
}

header::before {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-color: blue;
  margin: 0 auto 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: blue;
  padding: 1rem;
  text-align: center;
  z-index: 1000;
}

footer::before {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background-color: blue;
  margin: 0 auto 10px;
}
